{% extends 'main.html' %}

{% block content %}

{% if page == 'register' %}
<h1>Register User</h1>

<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value=" Registet User" />
</form>
<p>Already have an account<a href="{% url 'login' %}">sign up</a></p>
{% else %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type ="text" name="username" placeholder="Username" />
    <input type ="password" name="password" placeholder="enter Password" />
    <input type ="submit" value="Login" />

    <P>dont have an account<a href="{% url 'register' %}">sign up </a></P>
</form>
{% endif %}


{% endblock content %}